* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(135, 183, 135);
    font-family: monospace;
    text-align: center;
    color: #28231d; 
    width: 100%;
}

h1 {
    font-size: 4rem;
    font-style: italic;
}

.circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    pointer-events: none;
}

.circle.active {
    background-color: goldenrod;
    background-image: url('https://www.nylabone.com/-/media/project/oneweb/nylabone/images/dog101/activities-fun/10-great-small-dog-breeds/maltese-portrait.jpg');
    background-size: cover;
}

/*Style buttons*/

/* #startButton {
    visibility: visible;
}

#endButton {
    visibility: hidden;
}  */